#SOLR Server:
SOLR_SERVER = http://xantoz.failar.nu:8080/solr/

#Request Server:
REQUEST_SERVER = 130.229.168.86

#Tall Server:
TALL_SERVER = 130.229.185.90

#RateLimitExceededTime used in request/scrape/update
RATE_LIMIT_EXCEEDED_TIME = 3660

